* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 175%;
}

section {
    background-color: bisque;
    border: solid 1px black;
    float: left;
    margin: 10px;
    position: relative;
    text-align: justify;
    padding: 2em 10px 10px 10px;
}

section h2 {
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    font-size: 125%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30%;
}

#title_1 {
    background-color: crimson;
}

#title_2 {
    background-color: yellowgreen;
}

#title_3 {
    background-color: mediumblue;
    color: whitesmoke;
}

.section_3d {
  width: calc(100%/3 - 42px); 
}

/** tablet **/
@media (min-width: 768px) and (max-width: 991px) {
    .section_2t {
        width: calc(100%/2 - 42px);
      }

      .section_1t {
        width: calc(100% - 42px);
      }     
}

/** mobile **/
@media (max-width: 767px) {
      .section_1m {
        width: calc(100% - 42px);
      }     
}